* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 2px dotted red;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 20px;

}

.header-links {
    display: flex;
    gap: 20px;
}

main-container {
    display: flex;
    flex-direction: column;
}

.intro-container {
    display: flex;
    align-items: center;    
    justify-content: space-between;
}



