* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-links {
    display: flex;
    gap: 20px;
}

main-container {
    display: flex;
    flex-direction: column;
}

