* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color:white;
}

.header-links {
    display: flex;
    gap: 20px;
}

main-container {
    display: flex;
    flex-direction: column;
}

.intro-container {
    display: flex;
    align-items: center;    
    justify-content: space-between;
    background-color: #1F2937;
    color:white;
}

.info-container {
    display: flex;
}

.quote-container {
    display: flex;
    background-color: #E5E7EB;
    padding: 100px;
}

.quote {
    display: flex;
    flex-direction: column;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
}

.quote-src {
    justify-self: end;
}